.stack {
  font-size: 333%;
  .stack-action {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    cursor: pointer;
    font-size: 50%;
    text-align: center;
  }
  .pop {
    top: 1%;
  }
  .push {
    bottom: 1%;
  }
}
